# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'
drinks = pd.read_csv(url)
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Step 4. Which continent drinks more beer on average?

In [7]:
drinks.loc[:, ['beer_servings', 'continent']].groupby('continent').sum().sort_values('beer_servings', ascending=False) # -> EU with 8720 servings

           beer_servings
continent
EU                  8720
AF                  3258
SA                  2101
AS                  1630
OC                  1435

### Step 5. For each continent print the statistics for wine consumption.

In [9]:
drinks.loc[:, ['wine_servings', 'continent']].groupby('continent').sum().sort_values('wine_servings', ascending=False)

           wine_servings
continent
EU                  6400
AF                   862
SA                   749
OC                   570
AS                   399

### Step 6. Print the mean alcohol consumption per continent for every column

### Step 7. Print the median alcohol consumption per continent for every column

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame